<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
 {% for project in site.projects reversed %}
  {% assign loopindex = forloop.index | modulo: 2 %}
 {% capture class_image %}{% if loopindex == 0 %}images-left{% else %}images-right{% endif %}{% endcapture %}
  <div class="{{class_image}}">
    <img alt="mountains" src="{{ project.image | prepend: site.baseurl }}" />
  </div>
  {% capture class_content %} {% if loopindex == 0 %}contents-right{% else %}contents{% endif %}{% endcapture %}
  <div class="{{class_content}}">
    <h3> {{ project.title}} </h3>
    <ul class="tags">
      <li class="tag">Laravel</li>
      <li class="tag">PHP</li>
      <li class="tag">HTML</li>
      <li class="tag">CSS</li>
      <li class="tag">JS</li>
    </ul>
    <p>
      {{ project.description }}
    </p>
  </div>
 {% endfor %}
  
  
</div>

